.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 8px;

  &.center {
    text-align: center;
  }
}

.message {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin: 32px 0;
}

form {
  .inputGroup {
    margin: 32px 0;
  }
}

.navigation {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 12px;
  color: var(--black40);
}

.errorMessage {
  color: var(--negative);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 12px;
  opacity: 0;
  &.visibleError {
    opacity: 1;
  }
}

.navigateToAnotherRoute {
  display: flex;
  align-items: center;
  margin-top: 16px;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigationText {
    font-size: 16px;
    line-height: 24px;
    margin-right: 16px;
    @media (max-width: 500px) {
      margin-bottom: 5px;
    }
  }
  .navigationLink {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;

    img {
      width: 24px;
      margin-left: 12px;
    }
  }
}
