.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &.blur {
      background: var(--dark30);
      backdrop-filter: blur(10px);
    }

    &.orange {
      background: var(--button-hover);
    }

    &.transparent {
      background: transparent;
    }
  }
}
