.breadcrumbs {
  color: var(--black40);
  line-height: 18px;
  padding: 20px 0;

  a::after {
    content: '';
    display: block;
    margin: 0 12px;
    width: 2px;
    height: 21px;
    transform: rotate(22deg);
    background-color: var(--black20);
    border-radius: 5px;

    @media (max-width: 400px) {
      height: 17px;
    }
  }

  a:first-child {
    display: inline-flex;
  }

  a:last-child {
    cursor: default;
  }

  a:last-child:after {
    display: none;
  }
}
